{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% load i18n %}

{% block title %}
Post
{% endblock title %}


{% block content %}
{% if Post %}
        <table width="100%" style="margin-top: 35px">
            <tr>
                <td>{% trans "Дата публикации" %}</td>
                <td>{% trans "Автор" %}</td>
                <td>{% trans "Заголовок" %}</td>
                <td>{% trans "Описание" %}</td>
            </tr>

            <tr>
                <td>{{ Post.time_in|date:'d m y' }}</td>
                <td>{{ Post.author.user }}</td>
                <td>{{ Post.title|censor }}</td>
                <td>{{ Post.text|censor }}</td>
            </tr>
        </table>
{% endif %}
{% endblock content %}